.home-container {
  padding: 0 5rem 0 5rem;
  .overlay {
    display: flex;
    flex-direction: row;
    padding-top: 3rem;
    gap: 2rem;
    .contents {
      width: 50%;
      display: flex;
      padding-right: 2rem;
      padding-top: 5rem;
      flex-direction: column;
      justify-content: start;
      h1 {
        font-size: 4rem;
        border-left: 0.4rem solid var(--primary-color);
        padding-left: 1rem;
        margin-bottom: 2rem;
        color: var(--text-color);
      }
      p {
        text-align: justify;
        letter-spacing: 1px;
        line-height: 1.3rem;
        font-size: 1rem;
        color: var(--text-light);
      }
      .__button {
        width: 30%;
        margin-top: 2rem;
        padding: 1rem 1.5rem;
        background-color: var(--primary-color);
        border: none;
        text-transform: uppercase;
        cursor: pointer;
        outline: none;
        box-shadow: 0 3px 6px var(--shadow-color);
        color: #fff;
        font-size: 1rem;
      }
    }
    .grid__container {
      width: 50%;
    }
  }
}
