.home-container {
  padding: 0 5rem 0 5rem;
  .overlay {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
    .contents {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: start;
      h1 {
        font-size: 2.5rem;
        border-left: 0.4rem solid var(--primary-color);
        padding-left: 1rem;
        margin-bottom: 1rem;
        color: var(--text-color);
      }
      p {
        font-size: 1rem;
        color: var(--text-light);
      }
      .__button {
        margin-top: 1rem;
        padding: 1rem 1.5rem;
        background-color: var(--primary-color);
        border: none;
        outline: none;
        box-shadow: 0 3px 6px var(--shadow-color);
        color: #fff;
        font-size: 1rem;
      }
    }
    .grid__container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1.5vw;
      .images {
        width: 100px;
        height: 100px;
      }
    }
  }
}
