.overlay {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
  padding-top: 3rem;
  .contents {
    max-width: 50%;
    display: flex;
    padding: 5rem 2rem 0 0;
    flex-direction: column;
    justify-content: start;
    h1 {
      text-transform: uppercase;
      font-size: 4rem;
      border-left: 0.4rem solid var(--primary-color);
      padding-left: 1rem;
      margin-bottom: 1.5rem;
      color: var(--text-color);
      box-shadow: 0 3px 6px va(--shadow-color);
      span {
        color: var(--primary-color);
      }
    }
    p {
      text-align: justify;
      letter-spacing: 1px;
      line-height: 1.3rem;
      font-size: 1rem;
      color: var(--text-light);
    }
    .__button {
      margin-top: 2rem;
      max-width: 300px;
      padding: 1rem 1.5rem;
      background-color: var(--primary-color);
      border: none;
      text-transform: uppercase;
      cursor: pointer;
      outline: none;
      box-shadow: 0 3px 6px var(--shadow-color);
      color: #fff;
      font-size: 1rem;
    }
  }
  .image__section {
    margin-top: 3rem;
    width: 50%;
    max-height: 50vh;
    .image {
      max-width: 100%;
      max-height: 100%;
      img {
        height: 100%;
        width: 100%;
        border-radius: 29% 71% 62% 38% / 36% 29% 71% 64%;
      }
    }
  }
}

@media (max-width: 600px) {
  .overlay {
    flex-direction: column;
    margin: 0 5rem 0 5rem;
    gap: 0;
    .contents {
      max-width: 100%;
      padding: 1rem 1rem;
    }
    .image__section {
      width: 100%;
      margin-bottom: 2rem;
    }
  }
}
