@import url("./loader.scss");
@import url("./card.scss");
@import url("./culinary.scss");
@import url("./footer.scss");
@import url("./hero.scss");
@import url("./navbar.scss");
@import url("./popup.scss");
@import url("./recipes.scss");

:root {
  --background-color: #fff;
  --background-light: #fff;
  --shadow-color: rgba(0, 0, 0, 0.2);
  --primary-color: rgba(255, 0, 86);
  --text-color: #0a0a0a;
  --text-light: #575757;
  --font-size: 16px;
  --animation-speed: 1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: var(--font-size);
  font-family: "Roboto", sans-serif;
}
