.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    background-color: white;
    border-top: 0.5rem solid var(--primary-color);
    padding: 2rem;
    max-width: 50%;
    width: 100%;
  }
  .top-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .picture {
      max-width: 40%;
      height: fit-content;
      margin-bottom: 20px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .top-contents {
      display: flex;
      flex-direction: column;
      padding: 0 2rem;
      margin-top: 0.5rem;
      h2 {
        font-size: 2.5rem;
        font-weight: bolder;
        padding-left: 1rem;
        border-left: 0.4rem solid var(--primary-color);
        margin-bottom: 1rem;
      }
      .others,
      .tags {
        border-left: 0.4rem solid var(--text-color);
        padding-left: 1rem;
        font-weight: 400;
      }

      .others {
        strong {
          color: var(--text-color);
        }
        p {
          color: var(--text-light);
          line-height: 1.5rem;
          letter-spacing: 1px;
        }
      }
      .tags {
        margin-top: 0.5rem;
        color: var(--text-light);
        letter-spacing: 1px;
        font-size: 1rem;
        span {
          text-transform: capitalize;
          padding-right: 0.5rem;
        }
      }
    }
  }
  .main-section {
    width: 100%;
    p {
      font-size: 1.1rem;
      margin: 0 0 1rem 0.3rem;
      padding-left: 0.5rem;
      border-left: 0.4rem solid var(--primary-color);
      letter-spacing: 1px;
      color: var(--text-light);
    }
  }
  .bottom {
    display: flex;
    padding: 1.5rem 1rem 0 1rem;
    justify-content: space-between;
    align-items: center;
    a {
      padding: 0.5rem 1rem;
      font-size: 1rem;
      font-weight: bold;
      text-transform: uppercase;
      text-decoration: none;
      color: var(--text-color);
      background-color: #fff;
      border: 2px solid var(--primary-color);
      transition: 0.2s ease-in-out;
      cursor: pointer;
    }
    a:hover {
      background-color: var(--primary-color);
      color: #fff;
    }
    button {
      padding: 0.5rem 1rem;
      font-size: 1rem;
      text-transform: uppercase;
      color: var(--text-color);
      background-color: #fff;
      font-weight: bold;
      border: 2px solid var(--primary-color);
      cursor: pointer;
      transition: 0.2s ease-in-out;
    }
    button:hover {
      background-color: var(--primary-color);
      color: #fff;
    }
  }
}

@media screen and (max-width: 600px) {
  .popup {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .popup__content {
      padding: 1.5rem;
      max-width: 100%;
      height: 100%;
      background-color: #fff;
      border-top: 0.5rem solid var(--primary-color);
      .top-section {
        display: flex;
        flex-direction: column;
        .picture {
          height: fit-content;
          max-width: 100%;
          img {
            height: 100%;
            width: 100%;
          }
        }
        .top-contents {
          padding: 0;
          h2 {
            font-size: 2rem;
          }
          .others,
          .tags {
            font-size: 1rem;
          }
        }
      }
      .main-section {
        margin-top: 2rem;
        padding: 0 !important;
        p {
          font-size: 1rem !important;
          margin-bottom: 1rem;
          padding-left: 1rem;
          letter-spacing: 1px;
          line-height: 1.5rem;
          color: var(--text-light);
          border-left: 0.4rem solid var(--primary-color);
        }
      }
      .bottom {
        display: flex;
        flex-direction: column;
        width: 100%;
        a {
          width: 100%;
          letter-spacing: 2px;
          margin-bottom: 1.5rem;
          text-align: center;
        }
        button {
          width: 100%;
          letter-spacing: 1px;
        }
      }
    }
  }
}
